<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<script src="https://code.highcharts.com/highcharts.js"></script>

<h3>Monthly Quotes</h3>
<%= column_chart FactQuotes.group_by_month(:created_at).count %>

<h3>Monthly Contact Requests</h3>
<%= column_chart FactContact.group_by_month(:created_at).count %>

<h3>Elevators Per Customer</h3>
<%= column_chart Elevator.group(:column_id).count %>

<h3>Quote Product Lines</h3>
<%= pie_chart Quote.group(:product_line).count %>